.images {
  display: block;
  width: 400px;
  height: auto;
}
.btnDetails {
  margin: 5px;
}
.MovieDetailsPage {
  display: block;
  margin-left: auto;
}
.wrappler {
  display: flex;

  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.descr {
  margin-left: 20px;
}
.Additional {
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.listItem {
  padding-left: 10px;
  text-decoration: none;
  color: blue;
  margin-bottom: 10px;
}
